[Desktop Entry]
Name=Fireplace Swedish
Comment=Fireplace Wayland window manager
Exec=start_fireplace-gb_se
Icon=/usr/share/default/scalable/fireplace.svg
Type=Application
DesktopNames=Fireplace
